<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Libros</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light ">
	  <div class="container-fluid ms-5">
	    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
	    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button> -->
	    <div class="collapse navbar-collapse ms-5" id="navbarNavAltMarkup">
	      <div class="navbar-nav ms-2">
	        <a class="nav-link active" aria-current="page" href="/">Libros</a>
	        <a class="nav-link" href="/autores">Autores</a>
	      </div>
	    </div>
	  </div>
	</nav>
	<div class="container p-5">
		<div class="row">
			<div class="col-5 p-4">
				<h2>Agrega un libro</h2>
				<form action="/api/libros" method="post">
						  <div class="mb-3">
						    <label for="exampleInputEmail1" class="form-label">Titulo</label>
						    <input type="text" class="form-control" id="titulo" name="titulo" required>
						  </div>
						  <div class="mb-3">
						    <label for="exampleInputPassword1" class="form-label">Descripcion</label>
						    <textarea class="form-control" id="descripcion" name="descripcion" rows="3" required></textarea>
						  </div>
						  <button type="submit" class="btn btn-primary">Agregar</button>
				</form>
			</div>
			<div class="col-6 offset-1 p-4">
				<table class="table">
				  <thead>
				    <tr>
				      <th scope="col">Id</th>
				      <th scope="col">Nombre</th>
				      <th scope="col">Accion</th>
				    </tr>
				  </thead>
				  <tbody id="tabla">
				  	{%for libro in libros%}
					    <tr>
					      <th scope="row">{{libro.id}}</th>
					      <td>{{libro.titulo}}</td>
					      <td>{{libro.descripcion}}</td>
					    </tr>
					{% endfor %}
				  </tbody>
				</table>
			</div>
		</div>		
	</div>
</body>
</html>