{% extends 'layout.html' %}
{% from 'macros.html' import menu_active %}
{% block main %}
	{{menu_active('active','','')}}
	<div class="container p-5">
		<div class="row">
			<div class="col-5 p-4">
				<h2>Agrega un libro</h2>
				<form action="/api/libros" method="post">
						  <div class="mb-3">
						    <label for="exampleInputEmail1" class="form-label">Titulo</label>
						    <input type="text" class="form-control" id="titulo" name="titulo" required>
						  </div>
						  <div class="mb-3">
						    <label for="exampleInputPassword1" class="form-label">Descripcion</label>
						    <textarea class="form-control" id="descripcion" name="descripcion" rows="3" required></textarea>
						  </div>
						  <button type="submit" class="btn btn-primary">Agregar</button>
				</form>
			</div>
			<div class="col-6 offset-1 p-4">
				<table class="table">
				  <thead>
				    <tr>
				      <th scope="col">Id</th>
				      <th scope="col">Nombre</th>
				      <th scope="col">Descripcion</th>
				      <th scope="col">Accion</th>
				    </tr>
				  </thead>
				  <tbody id="tabla">
				  	{%for libro in libros%}
					    <tr>
					      <th scope="row">{{libro.id}}</th>
					      <td>{{libro.titulo}}</td>
					      <td>{{libro.descripcion}}</td>
					      <form action="/eliminar/{{libro.id}}">
					      	<td class="text-center"><a href="/libro/{{libro.id}}">Ver</a><br><button class="btn btn-link btn-sm">Quitar</button></td>
					      </form>
					    </tr>
					{% endfor %}
				  </tbody>
				</table>
			</div>
		</div>		
	</div>
{% endblock %}